@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 750px;
  background: #444753;
  border-radius: 5px;
}

.people-list {
  width:260px;
  float: left;

  .search {
    padding: 20px;
  }

  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }

  .fa-search {
    position: relative;
    left: -25px;
  }

  ul {
    padding: 20px;
    height: 770px;




    li {
      padding-bottom: 20px;
    }
  }

  img {
    float: left;
  }

  .about {
    float: left;
    margin-top: 8px;
  }

  .about {
    padding-left: 8px;
  }

  .status {
    color: $gray;
  }

}
.chat-border{
    width: 1px;
    height: 500px;
    position: absolute;
    background-color: #aeb1ba;
    top: 0;
    left: 52px;
    z-index: -1;
}
#myButton{
    background: url(../img/chat_button.png);
    background-repeat: no-repeat;
    border: none;
    width: 151px;
    height: 41px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;


}
.chat {
  display: none;
  width: 435px;
  float:left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
    z-index: 999;
    bottom: 0;
  right: 0;
  color: #434651;
  h1{
      display: inline;
        margin-left: 10px;
        color: #fff;
        font-size: 12px;
        font-family: 'proxima_nova_rgregular', Helvetica;
  }
.fa-close{
    color: #fff;
    font-size: 22px;
    vertical-align: bottom;
    cursor: pointer;
}
  .chat-header {
      padding: 10px;
      background: #24a36c;

    img {
      float: left;
    }

    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }

    .chat-num-messages {
      color: $gray;
    }

    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .chat-history {
    padding: 30px 30px 20px;
    overflow-y: scroll;
    height: 400px;

    .message-data {
      margin-bottom: 15px;
      div{
        margin-top: -40px;
      }
    }
    .message-data-name{
        margin-left: 50px;
        font-family: 'proxima_nova_ltsemibold', Helvetica;
        font-size: 14px;
        color: #969696;
    }
    .message-data-time {
      color: #969696;
      padding-left: 6px;
      display: block;
      margin-left:44px;
      font-size: 9px;
      font-family: 'proxima_nova_rgregular', Helvetica;
    }

    .message {
            color: #969696;
            padding: 0px 20px;
            line-height: 20px;
            font-size: 16px;
            border-radius: 7px;
            margin-bottom: 15px;
            width: 90%;
            position: relative;
            margin-left: 30px;
            margin-top: -10px;
            font-size: 14px;
            font-family: 'proxima_nova_ltlight', Helvetica;
    }

    .other-message {
      background: $blue;

      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }

  }

  .chat-message {
    padding: 30px;
    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;

    }

    button {
      float: right;
      color: #fff;
      font-size: 16px;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #fea700;
      padding: 10px 20px;
      border-radius: 6px;
    }
  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }

.online {
  color: $green;
}

.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
