.mail-inbox{
    width: 35%;
    border-left:5px solid #959595;
    h2{
        padding: 10px !important;
        color: #959595;
        font-size: 14px;
        font-family: 'proxima_nova_rgregular', Helvetica;
        background: #faf9f9;
    }
    &-bottom{
        border: 1px solid #ebebeb;
        text-align: right;
        padding: 10px;
        padding-right: 30px;
        i{
            font-size: 16px;
            color: #959595;
        }
    }
}
.mail-message{
    &-content{
        padding: 20px;
        font-family: "proxima_nova_rgregular", Helvetica;
        color: #959595;
        h1{
            font-size: 34px;
            font-family: 'proxima_nova_ltlight', Helvetica;
            margin-top: 10px;
        }
        &-eabout{
            margin-top:30px;
            border-bottom: 2px solid #ebebeb;
            padding-bottom: 20px;
            #select-1{
                background: #959595;
                width: 100px;
                padding: 9px;
                font-size: 14px;
                line-height: 1;
                border: 0;
                border-radius: 0;
                height: 34px;
                -webkit-appearance: none;
                color: #fff;
                border-radius: 5px;
                margin-right: 10px;
            }
            #select-1 + label:after {
                content: '\f0d7';
                font-family: FontAwesome;
                color: #fff;
                display: inline-block;
                position: absolute;
                left: 80px;
                top: 2px;
                pointer-events: none;
                font-size: 16px;
                }
                .date{
                    float: right;
                    margin-top:8px;
                }
        }
        p{
            font-family: "proxima_nova_rgregular", Helvetica;
            font-size: 14px;
            color: #959595;
            line-height: 23px;
            margin-top: 25px;
        }
        img{
            margin-top: 30px;
            max-width: 100%;
        }
        textarea{
            margin-top:40px;
            width: 100%;
            height: 130px !important;
            resize: none;
            padding: 10px;
            font-family: "proxima_nova_rgregular", Helvetica;
            border: 1px solid #ebebeb !important;
            border-radius: 4px;

        }
    }
    &-box{
    width: 65% !important;
    margin-bottom: 0 !important
    }
    &-list{
        background: #faf9f9 !important;
        padding: 0 !important;
        li{
            font-size: 14px !important;
            color: #959595 !important;
            font-family: 'proxima_nova_rgregular', Helvetica !important;
            padding: 10px !important;
            border-right: 1px solid #ebebeb;
            margin: 0 0px -3px 0 !important;
            &:hover{
                border: none !important;
                border-right: 1px solid #ebebeb !important;
            }
            i{
                font-family: 'FontAwesome' !important;
                margin-right: 5px !important;
                text-align: inherit !important;
                color: inherit !important;
                width: inherit !Important;
                height: inherit !important;
                /* font: 14px/19px "proxima_nova_ltsemibold"; */
                border-radius: inherit !important;
                margin: 0 10px !important;
                background: inherit !important;
            }
        }
    }
}
.mail {
    width: 22%;
    margin: 0 0 55px 0;
    position: relative;
    float: left;
    border-radius: 3px;
    padding: 33px 0 0;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    box-sizing: border-box;
    &_compose{
        text-align: center;
        button{
            background: #1bcd80;
            border: none;
            width: 85%;
            padding: 13px;
            border-radius: 3px;
            color: #fff;
            font-size: 13px;
            text-transform: uppercase;
            font-family: 'proxima_nova_ltsemibold', Helvetica;
            cursor: pointer;
            -webkit-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
            &:hover{
                background: #19ad6d;
            }
            i{
                padding-left: 15px;
                font-size: 18px;
                vertical-align: middle;
            }
        }
    }
    &_block{
        margin-top: 40px;
        li{
            span{
                color: #959595 !important;
                border: none !important;
                font-family: 'proxima_nova_rgregular', Helvetica !important;
                i{
                    color: #959595 !important;
                    &:hover{
                        color: #959595 !important;
                    }
                }
            &:hover{
                background: none !important;
                color: #959595 !important;
            }
            }
        }
        .act2{
            background: #ebebeb;
        }
    &-notification{
        float: right;
        width: 35px;
        height: 25px;
        border-radius: 4px;
        margin-top: -5px;
        color: #fff;
        text-align: center;
        padding-top: 7px;
        text-decoration: none;
        font-family: 'proxima_nova_ltsemibold', Helvetica;
    }
    .orange{
        background-color: #fea700;
    }
    .dark{
        background-color: #959595;
    }
    .dark-red{
        background-color: red;
    }
    }
    &-info{
        border-top: 1px solid #ebebeb;
        margin-top: 20px;
        padding:20px;
        color: #959595;
        span{
            font-size: 16px;
            font-family: 'proxima_nova_rgregular';
        }
        &-more{
            padding: 20px;
            color: #d7e3f0;
            font-family: 'proxima_nova_rgregular', Helvetica;
            font-size: 16px;
            li{
                margin-bottom: 20px;
                span{
                    float: left;
                    width: 15px;
                    height: 15px;
                    margin-right: 15px;
                    border-radius: 4px;
                    color: #fff;
                    text-align: center;
                    padding-top: 7px;
                    text-decoration: none;
                    font-family: 'proxima_nova_ltsemibold', Helvetica;
                }
            }
        }
    }
    &-message{
        &-header{
            border-top: 1px solid #ebebeb;
            padding: 10px;
            color: #959595;
            font-family: 'proxima_nova_rgregular', Helvetica;
            input{
                margin-right: 5px;
            }
            i{
                margin-right: 5px;
                vertical-align: middle;
            }
            .date{
                float: right;
            }
        }
        &-body{
            color: #959595;
            font-family: 'proxima_nova_rgregular', Helvetica;
            padding: 10px 20px 10px 50px;

            span{
                display: block;
            }
            p{
                color: #b5b5b5;
                margin-top: 10px;
            }
        }
    }
}
.green{
    background-color: #1bcd80;
}
.orange{
    background-color: #fea700;
}
.dark-red{
    background-color: red;
}
.purple{
    background-color: #7874cf;
}
.blue{
    background-color: #00aeef;
}
.breadcrumbs-info{
    max-width: 1130px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    background: #ebebeb;
    padding: 18px;

    span{
    font-family: "proxima_nova_rgregular", Helvetica;
    font-size: 14px;
}
i{
    position: absolute;
    right: 43px;
    top: 19px;
    color: #959595;
}

}
.search{
    float: right;
    /* display: block; */
    padding: 5px;
    text-align: right;
    width: 200px;
    font-family: "proxima_nova_rgregular", Helvetica;
    font-size: 14px;
    padding-right: 25px;
    margin-top: -6px;
    margin-right: 18px;

}
.signout_button{
    background: #1bcd80;
    border: none;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 4px;
}
.profile-name{
    border: none !important;
    color: #3d4553 !important;
}
.nja{
    padding-top:0 !important;
}
