
.new_member_box_display{

}


.content_areas_left_textbody{
	font-family: calibri;
	margin: 20px 0px 20px 0px;
	height: auto;
}

#answer1, #answer2, #answer3, #answer4{
	display: none;
}
.tab-content {
	background: white; /*#FFF3B3;*/
	color: black;
	padding: 0.5em;
    margin-top: 60px;
}


.tab-header {
	position: relative;
	height: 3em;
	width: 50em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.tab-header ul.tab-list {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 87%;
    margin-bottom: 20px;
    left:46px;
    top:15px;
}

.tab-header ul.tab-list li  {
	display: inline;
	list-style: none;
	margin: 0;
}

.tab-header ul.tab-list a,.tab-header ul.tab-list span,.tab-header ul.tab-list a.tab-active {
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 0 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 85%;
	text-decoration: none;
	color: #fff;
    width:34%;
    padding: 20px;
    font-size: 16px;
    text-transform: uppercase;
    }

.tab-header ul.tab-list span,.tab-header ul.tab-list a.tab-active,.tab-header ul.tab-list a.tab-active:hover {

}

/* a link in a background tab */
.tab-header ul.tab-list a {
	background-color: #fea700;
	border-bottom: none;
    width:34%;
    padding: 20px;
    font-size: 16px;
    text-transform: uppercase;
    &:hover{
        background-color: #e09505;
    }
}

/* hover on a background tab */
.tab-header ul.tab-list a:hover {

}

.tab  /* the heading that became the li */
{
	display: none;
}
#tab-container-tab-0 a{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#tab-container-tab-1 a{
    background-color: #20b373;
    border:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    &:hover{
        background-color: #1b9962;
    }
}
.close{
    position: absolute;
    top: 10px;
    right: 12px;
}
.forgot-pass{
    float: right;
    background: transparent;
    border: none;
    color: #fea700;
    font-size: 14px;
}
.signup-designer{
    background-color: #fea700 !important;
    &:hover{
        background-color: #e09505 !important;
    }
}
.signup-logo{
    background-color: #20b373 !important;
    &:hover{
        background-color: #1b9962 !important;
    }
}
